################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################
/.vs
/.vsidx
/.vs/ConsultorioPediatrico/FileContentIndex
/.vs/ConsultorioPediatrico/v15
/.vs/ConsultorioPediatrico/FileContentIndex/e1e7e949-d604-4db0-9bde-c95fbcfff905.vsidx
/.vs/ConsultorioPediatrico/FileContentIndex/bd9fc842-d637-4eec-9718-204263599f15.vsidx
